@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,800&display=swap');
.header{
background-color: blue;
margin-bottom: 9rem;

}
.home{
    background-color: #FCFBF9;
    padding: 0rem 6rem 6rem 6rem;

}


.nav{
    justify-self: right;
}
body{
    margin: 0rem;
}


h1{
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #121211;
    padding: 0px;
    margin: 0rem;

}
h2{
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    color: #121211;
    font-size: 1.1rem;


}
 /* p{
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    align-items: right;
    color: #121211;    
    line-height: 2rem;
    font-size: 1rem;
    }  */

.ContentsGrid{
    margin: 8rem 0rem;

}

.comingSoon{
    background-color: #FFFEFC;
    text-align: center;

    padding: 40vh 0 0vh 0;

}
.infoAboutMe{
    margin-top: 25rem;
}

ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding:0rem;

}

li{
    padding-top: 2rem;
}
nav{
    padding: 1rem 0rem 6rem
}

.navLinks{
    text-decoration: none;
    vertical-align: middle;


}

h3{
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    color: #121211;    

    
}